**/.classpath
**/.dockerignore
**/Dockerfile
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.dump
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
docker-compose
tools
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/publish
**/packages
terraform
tmp
