version: '3.7'

services:
  queue:
    image: symptoma/activemq:5.16.3
    networks:
      - armonik-backend
    ports:
      - 5672:5672
      - 8161:8161
    volumes:
      - ./activemq/jetty.xml:/opt/activemq/conf/jetty.xml
      - ./activemq/activemq.xml:/opt/activemq/conf/activemq.xml


  armonik.control.submitter:
    environment:
      - Amqp__User=admin
      - Amqp__Password=admin

  armonik.control.metrics:
    environment:
      - Amqp__User=admin
      - Amqp__Password=admin

  armonik.compute.pollingagent0:
    environment:
      - Amqp__User=admin
      - Amqp__Password=admin

  armonik.compute.pollingagent1:
    environment:
      - Amqp__User=admin
      - Amqp__Password=admin