name: Remove Old Branch Artefacts

on:
    schedule:
      - cron: '10 9 * * 1'   # 9:10 on Monday
    workflow_dispatch:

jobs:
  images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - pollingagent
          - control_metrics
          - control_partition_metrics
          - control
          - core_stream_test_worker
          - core_stream_test_client
          - core_htcmock_test_worker
          - core_htcmock_test_client
          - core_bench_test_worker
          - core_bench_test_client
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6

    - name: Install dependencies
      run: pip install requests

    - name: Remove old branch images
      run: python tools/remove_images.py dockerhubaneo "armonik_${{ matrix.image }}" "${{ secrets.DOCKER_HUB_LOGIN }}" "${{ secrets.DOCKER_HUB_TOKEN }}"

  nugets:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        nuget:
          - ArmoniK.Core.Base
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6

    - name: Install dependencies
      run: pip install requests

    - name: Unlist old branch nugets
      run: python tools/unlist_nugets.py "${{ matrix.nuget }}" "${{ secrets.NUGET_API_KEY }}"
