name: Run microbenchmarks on release
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag to benchmark'
        required: true
        default: 'latest'

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger microbenchmarks workflow in ArmoniK.Microbench 
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/aneoconsulting/ArmoniK.Microbench/dispatches \
            -d '{"event_type":"trigger-microbenchmarks","client_payload":{"armonik_core_repository":"AncientPatata/ArmoniK.Core","release_tag":"${{ github.event.release.tag_name || github.event.inputs.release_tag }}"}}'
